.font {
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 500px;
    font-size: 20px;
}

.header {
    background-color:rgb(214, 214, 214);
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;      
}

.nav-link {
    padding: 0px 20px 0px 0px;
    line-height: 20px;
}

.nav-item a {
    color: #788379;
    text-decoration: none;  
    transition: color 0.3s;
}
  .nav-item a:hover {
    color: #ffffff;
}


.main {
    font-size: 20px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
    padding-left: 50px;
}

.section h3 {
    color: #788379;
   
}

@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
  
.img {
    text-align: center;
}

.img img {
    border-radius: 50%;
}
.name {
    width: 100%;
    justify-content: space-around;
    margin:0 80px;
    
}

.name h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px ;
    letter-spacing: 5px;
}

.name-div {
    height: 5px;
    background-color: rgb(214, 214, 214);
}

.footer {
    font-size: 20px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.section-list {
    padding: 0;
    list-style: none;
}

.footer {
    min-height: 50px;
    background-color: rgb(214, 214, 214);
    padding: 15px;
}

.span {
    color: #788379;
}